*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
.Full
{
	
}
body
{

}
.contant
{
	display:flex;
	justify-content:space-around;
	width:100%;
	
	top:0px;
	padding:20px;
	position:fixed;
	background-color:#000000d4;
	z-index:1;
}
.container
{
	background:linear-gradient(#0000007a,#0000007a),url(image/back.jpg);
	background-attachment:fixed;
	background-size:cover;
	height:100vh;
	position:relative;
}
.head h1
{
	color:white;
	
}
.menu
{
	display:flex;
}
.menu nav ul li
{
	display:inline;
	
}
.menu nav ul li a
{
	text-decoration:none;
	font-size:22px;
	color:white;
	padding:20px;
}
.menu nav ul li a:hover
{
	text-decoration:underline;
transition:2s;
}
.image h2
{
	color:white;
	position:absolute;
	bottom:35%;
	right:40%;
	font-size:40px;
}
.image h1
{
	color:white;
	position:absolute;
	bottom:44%;
	right:30%;
	font-size:50px;
}
.image img
{
	width:100%;
	height:auto;
}
.about-section
{
	margin:7% 0%;
	
}
.about-content
{
	width:85%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	padding:70px 50px;
	box-shadow:0px 0px 10px grey;
}
.about-pesonal
{
	display:flex;
	gap:25px;
	
}
.about-left
{
	width:45%;
}
.about-right
{
	width:45%;
}
.about-right h1
{
	font-size:35px;
	margin-bottom:30px;
	text-align:left;
	position:relative;
}
.about-right h1::after
{
	content:"";
	position:absolute;
	width:17%;
	border:2px solid blue;
	bottom:-15px;
	left:5px;
	
}
.about-right p
{
	font-size:23px;
	color:grey;
	line-height:1.5;
	margin-top:15px;
	margin-bottom:15px;
}
.about-image img
{
	border-radius:10px;
}
.about-progress
{
	margin-top:20px;
}
.about-progress div
{
	margin:20px 0px;
	
	
}
.about-progress progress
{
	width:100%;
	height:10px;
	border-radius:0px;
}
.about-progress p
{
	color:grey;
	margin:10px 0px;
}
.about-information p
{
	font-size:20px;
	line-height:2;
}
.service-contant
{
	margin:0 auto;
	width:85%;
}
.service-head>p,.portpolio-head>p
{
	text-align:center;
}
.service-head>h1,.portpolio-head>h1
{
	text-align:center;
	font-size:45px;
}
.service-head>p,.service-card>p,.portpolio-head>p
{
	font-size:18px;
	color:grey;
	position:relative;
}
.service-head p::after
{
	content:"";
	position:absolute;
	width:3%;
	border:2px solid blue;
	left:48%;
	top:30px;
}
.service-box
{
	margin:7% 0%;
	display:flex;
	flex-wrap:wrap;
}
.service-card
{
	width:100%;
	margin:0 auto;
	box-shadow:0px 0px 10px grey;
	border-radius:20px;
	padding:40px 20px;
}
.ser-card
{
	width:33.3%;
	padding:15px;
}
.service-card>h2
{
	text-align:center;
}
.service-card>p
{
	text-align:center;
}
.service-card h2
{
	margin:10px 0px;
}
.icon
{
	height:100px;
	width:100px;
	border:10px solid #0078ff;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:0 auto;
}
.icon i
{
	font-size:25px;
}
.service-card p
{
	line-height:1.5;
}
.service-card:hover .icon
{
	border:12px solid #D6EAF8;
	background-color:#0078ff;
	transition:2s;
}
.service-card:hover .icon i
{
	color:white;
	transition:2s;
}
.status-contant
{
	background-image:url("image/counters-bg.jpg");
	background-attachment:fixed;
	background-size:cover;
	width:100%;
	height:400px;
	margin:5% 0px;

	

	
}
.status-color
{
	display:flex;
	justify-content:space-around;
	padding:5% 0px;
	width:100%;
	height:400px;
	background-color:#4e9ff9ba;
	
}
.status-icon
{
	width:100px;
	height:100px;
	border:12px solid #D6EAF8;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:0 auto;
}
.status-icon>i
{
	font-size:25px;
	color:white;
	font-weight:bold;
}
.status-con
{
	margin:70px 0;
	
}
.status-con>h3
{
	color:white;
	font-size:30px;
	margin:7px 0px;
	text-align:center;
}
.status-con>p
{
	color:white;
	font-size:20px;
	text-align:center;
}
.portpolio-content
{
	margin:0 auto;
	width:85%;
}
.portpolio-head p::after
{
	content:"";
	position:absolute;
	width:3%;
	border:2px solid blue;
	left:48%;
	top:30px;
}
.portpolio-info
{
	display:flex;
	flex-wrap:wrap;
	margin:5% 0px;
	
}
.port-image img
{
	transition:all 2s linear;
	width:100%;
}
.portpolio-card
{

	margin:20px 10px;
	box-shadow:0px 0px 5px grey;
}
.port-card
{
	width:33.3%;
	padding:2px 0px;
}
.port-image:hover img
{
	transform:scale(1.5);
	
}

.port-image
{
	
	overflow:hidden;
}
.port-bottom
{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px;
}
.port-bottom>div>h3
{
	margin:10px 5px;
	font-family:sans-serif;
}
.port-bottom>div>p>span
{
	margin:2px 8px;
	color:skyblue;
	font-size:18px;
}
.portfolio-icon
{
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	width:50px;
	border-radius:50%;
	border:2px solid skyblue;
}
.portfolio-icon i
{
	color:skyblue;
	font-size:20px;
}
.portfolio-bio
{
	background:linear-gradient(#1078ff7a,#1078ff7a),url("image/overlay-bg.jpg");
	background-attachment:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	height:75vh;
	width:100%;	
	position:relative;
	
}

.portfolio-bio img
{
	border-radius:50%;
}
.portfolio-bio h2,.portfolio-bio p
{
	color:white;
	font-family:sans-serif;
}
.portfolio-bio h2
{
	margin:10px 0px;
}
.portfolio-bio p
{
	font-size:20px;
}
.point
{
	height:10px;
	width:10px;
	background-color:white;
	border-radius:50%;
	position:absolute;
	bottom:20px;
	right:50%;
	bottom:15%;
}
.point1
{
	height:10px;
	width:10px;
	background-color:#ffffff87;
	border-radius:50%;
	position:absolute;
	bottom:20px;
	right:48%;
	bottom:15%;
}
.blog-section
{
	width:85%;
	margin:0 auto;
	position:relative;
}
.blog
{
	margin:7% 0%;
}
.blog h1
{
	font-size:40px;
	font-family:sans-serif;
	margin:5px 0px;
}
.blog p
{
	font-size:18px;
	color:grey;
}
.blog p,h1
{
	text-align:center;
}
.blog p::after
{
	content:"";
	width:3%;
	border:2px solid blue;
	position:absolute;
	top:85px;
	right:49%;
	
}
.blog-contant h2:hover
{
	color:#0078ff;
	transition:1s;
}
.blog-details
{
	display:flex;
	justify-content:space-between;
	
}
.blog-card
{
	width:32%;
	border:1px solid grey;
	border-radius:7px;
	box-shadow:0px 0px 5px grey;
}
.card-image
{

	
}
.card-image img
{
	width:100%;
}
.blog-title
{
	height:30px;
	width:100px;
	background-color:rgb(0,120,250);
	border-radius:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	bottom:-15px;
	right:140px;
}
.image-title
{
	position:relative;
}
.blog-title>p
{
	font-size:12px;
	color:white;
	font-family:sans-serif;
}
.blog-contant
{
	padding:15px;
}
.blog-contant h2
{
	margin:20px 0px;
	font-family:sans-serif;
}
.blog-contant p
{
	font-size:16px;
	font-family:sans-serif;
	color:grey;
	line-height:1.5;
}
.blog-icon
{
	display:flex;
	justify-content:space-between;
	border-top:1px solid grey;
	padding:9px 10px;
	background-color:rgba(0,0,0,0.05);
	width:100%
}
.blogicon-bottom
{
	display:flex;
	align-items:center;
	width:65%;
	
}
.blog-icon>div
{
	display:flex;
}
.blogicon-bottom>img
{
	width:10%;
	border-radius:50%;
}
.blogicon-bottom>a
{
	text-decoration:none;
	padding:0px 7px;
	color:black;
	font-size:16px;
	font-family:sans-serif;
}
.blogicon-bottom>a:hover
{
	color:blue;
	transition:2s;
}
.blogicon-bot
{
	width:30%;
	display:flex;
	justify-content:right;
	margin:0px 8px;
}
.blogicon-bot i
{
	font-size:20px;
	padding:0px 4px;
}
.form-section
{
	margin:7% 0% 0% 0%;
	background:linear-gradient(#1078ff7a,#1078ff7a),url("image/overlay-bg.jpg");
	width:100%;
	padding:5% 0%;
}
.form-container
{
	
	margin:0 auto;
	width:85%;
	background-color:white;
	
	position:relative;
}
.form-div
{
	display:flex;
	
	margin:0 auto;
	width:85%;
	padding:4% 0%;
}

.form
{
	width:50%;
}
.form input[type="text"]
{
	width:95%;
	border:1px solid grey;
	margin:8px 0px;
	padding:12px 8px;
}
.form textarea
{
	width:95%;

	border:1px solid grey;
	margin:8px 0px;
	padding:8px 8px;
}
.form-button
{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:8px 0px;
}
.form-button button
{
	padding:10px;
	font-size:18px;
	background-color:#0078ff;
	color:white;
	border-radius:30px;
	border:5px solid white;
	
}
.form-right
{
	width:50%;
}
.form-right>p
{
	font-size:20px;
	font-family:sans-serif;
	line-height:1.5;
	margin:40px 0px 20px 0px;
}
.form-right .address 
{
	font-size:20px;
	line-height:1.5;
}
h1 
{
	font-family:sans-serif;
}

.form-right address
{
	margin:10px 0px;
}
.social-icon
{
	margin:10px 0px;
	width:50%;
	display:flex;
	justify-content:space-between;
}
.so-icon
{
	height:50px;
	width:50px;
	border:2px solid #0070ff;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
}
.form-button button:hover 
{
	border:5px solid #D6EAF8;
	background-color:#0070aa;
	transition:2s;
}
.form-right .address i
{
	color:#0078ff;
	
}
.form form 
{
	margin:40px 0px;
}
.so-icon i
{
	font-size:20px;
}

#so-con
{
	background-color:black;
	padding:3px;
	color:white;
	border-radius:5px;
}
#so-con1
{
	height:23px;
	width:20px;
	background-color:black;
	padding:5px;
	color:white;
	border-radius:50%;
}
.so-icon:hover 
{
	border:4px solid #D6EAF8;
	background-color:#0078ff;
}
.so-icon:hover #so-con
{
	background-color:white;
	color:black;
}
.so-icon:hover #so-con1
{
	background-color:white;
	color:black;
}
.so-icon:hover #so-con2
{
	color:white;
	
}
.form-container .form h1::after
{
	content:"";
	border:2px solid blue;
	width:6%;
	position:absolute;
	top:16%;
	left:7.5%;
}
.form-container .form-right h1::after
{
	content:"";
	border:2px solid blue;
	width:6%;
	position:absolute;
	top:16%;
	right:43.5%;
}
.form-container h1
{
	font-size:35px;
	text-align:left;
	
}
.address
{
	display:flex;
	gap:15px;
	margin:20px 0px;
}
.address-icon
{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	
}
.addres-para
{
	display:flex;
	flex-direction:column;
}
.footer-container
{
	background-color:#0062d3;
	padding:20px 0px;
}
.footer-container p
{
	text-align:center;
	font-size:18px;
	color:white;
	line-height:1.5;	
}
.footer-container p a
{
	text-align:center;
	font-size:18px;
	text-decoration:none;
	color:white;	
}
.mark
{
	bottom:20px;
	right:20px;
	height:50px;
	width:50px;
	background-color:#0078ff;
	border-radius:50%;
	
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	
}
.mark i
{
	color:white;
	
}
